@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Roboto:wght@900&family=Rock+3D&display=swap');

body{
	background: #ffe4b5;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #605f5a;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding-top: 30px;
}

h1{
	color: #ff4500;
	text-shadow: 3px;
	text-align: center;
	letter-spacing: 3px;
	font-family: 'Pushster', cursive;
}

.avatar{
	width: 30%;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}
.information{
	display: flex;
	margin-bottom: 20px;
	line-height: 30px;
}

@media (max-width: 1400px) {
  .information {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
}

.info-text h2 {
  margin-bottom: 10px;
  color: #db7093;
}

.information p {
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

@media(max-width: 700px){
	.image{
		display: block;
		align-content: center;
	}
}

.great_img{
	display: flex;
	margin-right: 10px;
}

.image img{
	width: 40%;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

a {
  color: #db7093;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: #db7093;
}